<body>
  <div class="menu-bar">
    <div class = "home-icon">
      <a routerLink="/dashboard">Página Inicial</a>
    </div> 

    <div class = "menu-item">
      <a routerLink="/criar-rota">Criar Rota</a>
    </div>

    <div class = "menu-item">
    <a routerLink="/criar-empacotamento">Criar Empacotamento</a>
    </div>
    
    <div class = "menu-item">
      <a routerLink="/criar-plano">Criar Plano</a>
    </div>

    <div class = "menu-item">
      <a routerLink="/criar-plano-algoritmo-genetico">Criar Plano Algoritmo Genético</a>
    </div>

    <div class = "menu-item">
      <a routerLink="/listar-caminho">Listar Rotas</a>
    </div>
  
    <div class = "menu-item">
      <a routerLink="/listar-empacotamento">Listar Empacotamentos</a>
    </div>

    <div class = "menu-item">
      <a routerLink="/listar-plano">Listar Planos</a>
    </div>

    <div class = "menu-item">
      <a routerLink="/update-empacotamento">Atualizar Empacotamento</a>
    </div>

    <div class = "menu-item">
      <a routerLink="/visualizacao-rede">Visualização da rede viária</a>
    </div>
  </div>
  
    <div class = "title-wrapper">
      <h1 class = "title">Visualizar Rede Viária</h1>
    </div>
  
    <div class = "container">
        <div class = "button-submit">
            <a href="http://127.0.0.1:5555/Rede_Vi%C3%A1ria/Rede_Viaria.html"><button class="add-button">Visualizar rede viária</button></a>
        </div>
        <div class = "button-submit">
          <a href="http://127.0.0.1:5555/old/Rede_Viaria.html"><button class="add-button">Visualizar rede viária antiga</button></a>
      </div>
    </div>
</body>
  
  <router-outlet></router-outlet>