<body>
    <div class="menu-bar">
      <div class = "home-icon">
        <a routerLink="/dashboard">Página Inicial</a>
      </div> 
  
      <div class = "menu-item">
        <a routerLink="/criar-conta">Criar Conta</a>
      </div>

      <div class = "menu-item">
        <a routerLink="/listar-conta">Listar Contas</a>
      </div>

      <div class = "menu-item">
        <a routerLink="/inibir-conta">Inibir Conta</a>
      </div>
    </div>
  
    <div class = "title-wrapper">
      <h1 class = "title">Menu do Administrador de Sistema</h1>
      <h1 class = "subtitle">Selecione uma opção</h1>
    </div>
  </body>
  
  <router-outlet></router-outlet>