* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'PoppinS', sans-serif;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    background: rgb(238, 234, 234);
    background-size:auto;
    background-position: bottom;
    background-attachment: fixed;
  }
  
  .title-wrapper {
    display: block;
    position: relative;
    align-items: center;
    padding: 40px;
  }
  
  .title-wrapper .title {
    color:  rgb(10, 38, 91);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: justify;
    padding: 20px;
  }
  
  .title-wrapper .subtitle {
    color:  rgb(10, 38, 91);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: justify;
    padding: 20px;
  }
  
  .menu-bar {
    align-items: center;
    width: 250px;
    height: full;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 38, 91);
    border-radius: 5px;
    padding-top: 30px;
  }
  
  .menu-bar .home-icon {
    display: block;
    align-items: center;
    justify-content: center; 
    width: 250px;
    height: 70px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding-bottom: 100px;
  }
  
  .menu-bar .menu-item {
    display: block;
    align-items: center;
    justify-content: center; 
    width: 250px;
    height: 70px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
  }
  
  .menu-bar .menu-item:hover {
    background-color: rgb(54, 80, 129);
    color: #fff;
  }
  
  .menu-bar a {
    display: block;
    color: white;
    width: 250px;
    height: 70px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .container {
    position: relative;
    width: 600px;
    padding-top: 183px;
    margin-left: -280px;
    background: transparent;
  }
  
  .button-submit {
    margin-top: 15px;
  }
  
  .add-button {
    margin-top: 20px;
    border: none;
    box-shadow: none;
    padding: 10px 25px;
    background:  rgb(10, 38, 91);
    color: #fff;
    font-size: 16px;
    cursor: pointer;
  }
  
  .add-button:hover {
    background: rgb(54, 80, 129);
  }