<body>
  <div class="menu-bar">
    <div class="home-icon">
      <a routerLink="/dashboard">Página Inicial</a>
    </div>

    <div class="menu-item">
      <a routerLink="/criar-camiao">Criar Camião</a>
    </div>

    <div class="menu-item">
      <a routerLink="/listar-camiao">Listar Camiões</a>
    </div>

    <div class="menu-item">
      <a routerLink="/inibir-camiao">Inibir Camião</a>
    </div>

    <div class="menu-item">
      <a routerLink="/desinibir-camiao">Desinibir Camião</a>
    </div>

    <div class="menu-item">
      <button class="btn btn-block btn-danger mt-4" (click)="logout()">Sair</button>
    </div>

  </div>

  <div class="title-wrapper">
    <h1 class="title">Menu do Gestor de Frota</h1>
    <h1 class="subtitle">Selecione uma opção</h1>
  </div>

  
</body>

<router-outlet></router-outlet>