* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    outline: none;
    font-family: 'PoppinS', sans-serif;
  }
  
  body {
    display: flex;
    min-height: 100vh;
    background: rgb(238, 234, 234);
    background-size:auto;
    background-position: bottom;
    background-attachment: fixed;
  }
  
  .title-wrapper {
    display: block;
    position: relative;
    align-items: center;
    padding: 40px;
  }
  
  .title-wrapper .title {
    color:  rgb(10, 38, 91);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 30px; 
    font-weight: bold; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: justify;
    padding: 20px;
  }
  
  .title-wrapper .subtitle {
    color:  rgb(10, 38, 91);
    font-family: 'Helvetica Neue', sans-serif; 
    font-size: 20px; 
    letter-spacing: -1px; 
    line-height: 1; 
    text-align: justify;
    padding: 20px;
  }
  
  .menu-bar {
    align-items: center;
    width: 250px;
    height: full;
    overflow: hidden;
    color: rgb(255, 255, 255);
    background-color: rgb(10, 38, 91);
    border-radius: 5px;
    padding-top: 30px;
  }
  
  .menu-bar .home-icon {
    display: block;
    align-items: center;
    justify-content: center; 
    width: 250px;
    height: 70px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
    padding-bottom: 100px;
  }
  
  .menu-bar .menu-item {
    display: block;
    align-items: center;
    justify-content: center; 
    width: 250px;
    height: 70px;
    border-radius: 5px;
    background-color: transparent;
    color: white;
  }
  
  .menu-bar .menu-item:hover {
    background-color: rgb(54, 80, 129);
    color: #fff;
  }
  
  .menu-bar a {
    display: block;
    color: white;
    width: 250px;
    height: 70px;
    padding-top: 25px;
    padding-bottom: 20px;
    padding-left: 20px;
    padding-right: 20px;
    text-decoration: none;
    font-size: 16px;
  }
  
  .container {
    position: relative;
    width: 600px;
    padding-top: 183px;
    margin-left: -235px;
    background: transparent;
  }

  .eye-icon {
    color: rgb(10, 38, 91);
    font-size: 20px;
  }
  
  .input-field {
    position: relative;
    height: 55px;
    width: 100%;
  }

  #label-id {
    position: relative;
    top: 20px; /* Move the label element up by 20px */
    margin-top: 5px;
    padding-top: 15px;
    font-size: 16px;
    width: 30pc;
    background: transparent;
    border: none;
    box-shadow: none;
    flex-grow: 1;
    color:  #7a7a7a;;
  }

  .input-field select {
    position: relative;
    top: 22px; 
    background: transparent;
    width: 100%;
    height: 50px;
    margin-top: 5px;
    font-size: 16px;
    border: 1px solid #7a7a7a;
    box-shadow: none;
    flex-grow: 1;
    color: #454545;
  }

  .input-field2 {
    position: relative;
    height: 55px;
    width: 100%;
    display: flex;
    align-items: center;
}

.input-field2 input {
    margin-top: 5px;
    padding-top: 15px;
    font-size: 16px;
    width: 30pc;
    background: transparent;
    border: none;
    box-shadow: none;
    flex-grow: 1;
}

.input-field2 .fa-eye {
    position: absolute;
    right: 0;
    cursor: pointer;
}

  .input-field input[type = "number"] {
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    color: rgb(10, 38, 91);
    width: 100%;
    transform: translateY(30px);
  }

  .input-field input {
    position: absolute;
    background: transparent;
    border: none;
    box-shadow: none;
    font-size: 16px;
    color: rgb(10, 38, 91);
    width: 100%;
    transform: translateY(30px);
  }
  
  .input-field label {
    position: absolute;
    top: 0;
    left: 0;
    color:  rgb(54, 80, 129);
    pointer-events: none;
    display: block;
  
    transform: translateY(30px);
  }
  
  .input-field input:focus + label {
    visibility: hidden;
  }
  
  .input-field span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background:  rgb(10, 38, 91);
    width: 100%;
    height: 1px;
  }

  .input-field2 span {
    position: absolute;
    bottom: 0;
    right: 0;
    display: block;
    background:  rgb(10, 38, 91);
    width: 100%;
    height: 1px;
  }
  
  .input-field2:focus, .input-field2:active {
    background: transparent;
}
  
  .input-field span:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: #b7b7b7;
    transform: scaleX(0);
    transform-origin: right;
    transition: transform 0.5s ease-in-out;
  }
  
  .input-field input:focus ~ span:before,
  .input-field input:valid ~ span:before {
    transform: scaleX(0);
    transform-origin: left;
    transition: transform 0.5s ease-in-out;
  }
  
  .button-submit {
    margin-top: 25px;
  }
  
  .inputButton {
    margin-top: 10px;
    padding: 10px 20px;
    margin-right: 20px;
    text-align: center;
    text-decoration: none;
    font-size: larger;
    cursor: pointer;
  }
